// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2023.2.1.288.0
// Netlist written on Mon Jan 27 09:52:15 2025
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/david/desktop/wifi headstage/wifiheadstage v2/blinking/source/impl_1/blinkingtimer.vhd"
// file 1 "c:/lscc/radiant/2023.2/ip/pmi/pmi_ice40up.v"
// file 2 "c:/lscc/radiant/2023.2/ip/pmi/pmi_ice40up.vhd"
// file 3 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 4 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 5 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 6 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 7 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 8 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 9 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 10 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/ib.v"
// file 11 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 12 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 13 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 14 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/ob.v"
// file 15 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 16 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 17 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 18 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/rgb.v"
// file 19 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 20 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 21 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/legacy.v"
// file 22 "c:/lscc/radiant/2023.2/ip/avant/fifo/rtl/lscc_fifo.v"
// file 23 "c:/lscc/radiant/2023.2/ip/avant/fifo_dc/rtl/lscc_fifo_dc.v"
// file 24 "c:/lscc/radiant/2023.2/ip/avant/ram_dp/rtl/lscc_ram_dp.v"
// file 25 "c:/lscc/radiant/2023.2/ip/avant/ram_dq/rtl/lscc_ram_dq.v"
// file 26 "c:/lscc/radiant/2023.2/ip/avant/rom/rtl/lscc_rom.v"
// file 27 "c:/lscc/radiant/2023.2/ip/common/adder/rtl/lscc_adder.v"
// file 28 "c:/lscc/radiant/2023.2/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 29 "c:/lscc/radiant/2023.2/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 30 "c:/lscc/radiant/2023.2/ip/common/counter/rtl/lscc_cntr.v"
// file 31 "c:/lscc/radiant/2023.2/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 32 "c:/lscc/radiant/2023.2/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 33 "c:/lscc/radiant/2023.2/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 34 "c:/lscc/radiant/2023.2/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 35 "c:/lscc/radiant/2023.2/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 36 "c:/lscc/radiant/2023.2/ip/pmi/pmi_add.v"
// file 37 "c:/lscc/radiant/2023.2/ip/pmi/pmi_addsub.v"
// file 38 "c:/lscc/radiant/2023.2/ip/pmi/pmi_complex_mult.v"
// file 39 "c:/lscc/radiant/2023.2/ip/pmi/pmi_counter.v"
// file 40 "c:/lscc/radiant/2023.2/ip/pmi/pmi_dsp.v"
// file 41 "c:/lscc/radiant/2023.2/ip/pmi/pmi_fifo.v"
// file 42 "c:/lscc/radiant/2023.2/ip/pmi/pmi_fifo_dc.v"
// file 43 "c:/lscc/radiant/2023.2/ip/pmi/pmi_mac.v"
// file 44 "c:/lscc/radiant/2023.2/ip/pmi/pmi_mult.v"
// file 45 "c:/lscc/radiant/2023.2/ip/pmi/pmi_multaddsub.v"
// file 46 "c:/lscc/radiant/2023.2/ip/pmi/pmi_multaddsubsum.v"
// file 47 "c:/lscc/radiant/2023.2/ip/pmi/pmi_ram_dp.v"
// file 48 "c:/lscc/radiant/2023.2/ip/pmi/pmi_ram_dp_be.v"
// file 49 "c:/lscc/radiant/2023.2/ip/pmi/pmi_ram_dq.v"
// file 50 "c:/lscc/radiant/2023.2/ip/pmi/pmi_ram_dq_be.v"
// file 51 "c:/lscc/radiant/2023.2/ip/pmi/pmi_rom.v"
// file 52 "c:/lscc/radiant/2023.2/ip/pmi/pmi_sub.v"

//
// Verilog Description of module Blinker
//

module Blinker (input CLK, output LED);
    
    (* is_clock=1, lineinfo="@0(7[9],7[12])" *) wire CLK_c;
    
    wire GND_net, VCC_net;
    (* lineinfo="@0(16[12],16[19])" *) wire [31:0]counter;
    
    wire LED_c, n755, n278, n276, n274, n707, n272, n725, n722, 
        n270, n268, n719, n752, n716, n749, n14, n710, n206, 
        n746, n10, n9, n713, n743, n728, n14_adj_1, n134, n135, 
        n136, n137, n138, n139, n140, n141, n142, n143, n144, 
        n145, n146, n147, n148, n149, n150, n151, n152, n153, 
        n154, n155, n156, n157, n158, n159, n160, n161, n162, 
        n163, n164_adj_2, n165, n286, n13, n284, n282, n740, 
        n280, n395, n392, n393, n737, n235, n734, n391, n266, 
        n264, n262, n731, n260, n258, n256, n164;
    
    VHI i2 (.Z(VCC_net));
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i0 (.D(n165), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[0]));
    defparam counter_19__i0.REGSET = "RESET";
    defparam counter_19__i0.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i31 (.D(n134), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[31]));
    defparam counter_19__i31.REGSET = "RESET";
    defparam counter_19__i31.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i1 (.D(n164_adj_2), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[1]));
    defparam counter_19__i1.REGSET = "RESET";
    defparam counter_19__i1.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i30 (.D(n135), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[30]));
    defparam counter_19__i30.REGSET = "RESET";
    defparam counter_19__i30.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B)+!A !(B)))", lineinfo="@0(22[13],27[20])" *) LUT4 i39_2_lut (.A(LED_c), 
            .B(n206), .Z(n164));
    defparam i39_2_lut.INIT = "0x6666";
    (* lut_function="(A (B (C (D))))" *) LUT4 i6_4_lut (.A(counter[4]), .B(counter[7]), 
            .C(counter[5]), .D(counter[3]), .Z(n14_adj_1));
    defparam i6_4_lut.INIT = "0x8000";
    (* lut_function="(A (B (C (D))))" *) LUT4 i5_4_lut (.A(counter[0]), .B(counter[6]), 
            .C(counter[2]), .D(counter[1]), .Z(n13));
    defparam i5_4_lut.INIT = "0x8000";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i110_4_lut (.A(n13), 
            .B(counter[9]), .C(counter[8]), .D(n14_adj_1), .Z(n235));
    defparam i110_4_lut.INIT = "0xc8c0";
    (* lut_function="(A (B (C)+!B (C (D))))" *) LUT4 i2_4_lut (.A(counter[12]), 
            .B(n235), .C(counter[11]), .D(counter[10]), .Z(n393));
    defparam i2_4_lut.INIT = "0xa080";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i3_4_lut (.A(n393), .B(counter[13]), 
            .C(counter[14]), .D(counter[15]), .Z(n395));
    defparam i3_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B (C (D))))" *) LUT4 i3_4_lut_adj_1 (.A(n395), .B(counter[16]), 
            .C(counter[17]), .D(counter[18]), .Z(n392));
    defparam i3_4_lut_adj_1.INIT = "0x8000";
    (* lut_function="(A (B (C)+!B (C (D))))" *) LUT4 i2_4_lut_adj_2 (.A(counter[21]), 
            .B(n392), .C(counter[20]), .D(counter[19]), .Z(n391));
    defparam i2_4_lut_adj_2.INIT = "0xa080";
    (* lut_function="(A+(B))" *) LUT4 i2_2_lut (.A(counter[29]), .B(counter[24]), 
            .Z(n10));
    defparam i2_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i6_4_lut_adj_3 (.A(counter[27]), 
            .B(counter[30]), .C(counter[28]), .D(counter[26]), .Z(n14));
    defparam i6_4_lut_adj_3.INIT = "0xfffe";
    (* lineinfo="@0(7[9],7[12])" *) IB CLK_pad (.I(CLK), .O(CLK_c));
    (* lut_function="(A (B+(C))+!A (B+(C (D))))" *) LUT4 i1_4_lut (.A(n391), 
            .B(counter[25]), .C(counter[23]), .D(counter[22]), .Z(n9));
    defparam i1_4_lut.INIT = "0xfcec";
    (* lineinfo="@0(8[9],8[12])" *) OB LED_pad (.I(LED_c), .O(LED));
    (* lut_function="(!(A (B)+!A (B+!(C+(D)))))" *) LUT4 i308_4_lut (.A(n9), 
            .B(counter[31]), .C(n14), .D(n10), .Z(n206));
    defparam i308_4_lut.INIT = "0x3332";
    (* lineinfo="@0(23[28],23[35])" *) FA2 counter_19_add_4_33 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[31]), .D0(n286), .CI0(n286), .A1(GND_net), 
            .B1(GND_net), .C1(GND_net), .D1(n755), .CI1(n755), .CO0(n755), 
            .S0(n134));
    defparam counter_19_add_4_33.INIT0 = "0xc33c";
    defparam counter_19_add_4_33.INIT1 = "0xc33c";
    (* lineinfo="@0(23[28],23[35])" *) FA2 counter_19_add_4_31 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[29]), .D0(n284), .CI0(n284), .A1(GND_net), 
            .B1(GND_net), .C1(counter[30]), .D1(n752), .CI1(n752), .CO0(n752), 
            .CO1(n286), .S0(n136), .S1(n135));
    defparam counter_19_add_4_31.INIT0 = "0xc33c";
    defparam counter_19_add_4_31.INIT1 = "0xc33c";
    (* lineinfo="@0(23[28],23[35])" *) FA2 counter_19_add_4_29 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[27]), .D0(n282), .CI0(n282), .A1(GND_net), 
            .B1(GND_net), .C1(counter[28]), .D1(n749), .CI1(n749), .CO0(n749), 
            .CO1(n284), .S0(n138), .S1(n137));
    defparam counter_19_add_4_29.INIT0 = "0xc33c";
    defparam counter_19_add_4_29.INIT1 = "0xc33c";
    (* lineinfo="@0(23[28],23[35])" *) FA2 counter_19_add_4_27 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[25]), .D0(n280), .CI0(n280), .A1(GND_net), 
            .B1(GND_net), .C1(counter[26]), .D1(n746), .CI1(n746), .CO0(n746), 
            .CO1(n282), .S0(n140), .S1(n139));
    defparam counter_19_add_4_27.INIT0 = "0xc33c";
    defparam counter_19_add_4_27.INIT1 = "0xc33c";
    (* lineinfo="@0(23[28],23[35])" *) FA2 counter_19_add_4_25 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[23]), .D0(n278), .CI0(n278), .A1(GND_net), 
            .B1(GND_net), .C1(counter[24]), .D1(n743), .CI1(n743), .CO0(n743), 
            .CO1(n280), .S0(n142), .S1(n141));
    defparam counter_19_add_4_25.INIT0 = "0xc33c";
    defparam counter_19_add_4_25.INIT1 = "0xc33c";
    (* lse_init_val=1, lineinfo="@0(21[9],28[16])" *) FD1P3XZ led_state (.D(n164), 
            .SP(VCC_net), .CK(CLK_c), .SR(GND_net), .Q(LED_c));
    defparam led_state.REGSET = "RESET";
    defparam led_state.SRMODE = "CE_OVER_LSR";
    VLO i1 (.Z(GND_net));
    (* lineinfo="@0(23[28],23[35])" *) FA2 counter_19_add_4_23 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[21]), .D0(n276), .CI0(n276), .A1(GND_net), 
            .B1(GND_net), .C1(counter[22]), .D1(n740), .CI1(n740), .CO0(n740), 
            .CO1(n278), .S0(n144), .S1(n143));
    defparam counter_19_add_4_23.INIT0 = "0xc33c";
    defparam counter_19_add_4_23.INIT1 = "0xc33c";
    (* lineinfo="@0(23[28],23[35])" *) FA2 counter_19_add_4_21 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[19]), .D0(n274), .CI0(n274), .A1(GND_net), 
            .B1(GND_net), .C1(counter[20]), .D1(n737), .CI1(n737), .CO0(n737), 
            .CO1(n276), .S0(n146), .S1(n145));
    defparam counter_19_add_4_21.INIT0 = "0xc33c";
    defparam counter_19_add_4_21.INIT1 = "0xc33c";
    (* lineinfo="@0(23[28],23[35])" *) FA2 counter_19_add_4_19 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[17]), .D0(n272), .CI0(n272), .A1(GND_net), 
            .B1(GND_net), .C1(counter[18]), .D1(n734), .CI1(n734), .CO0(n734), 
            .CO1(n274), .S0(n148), .S1(n147));
    defparam counter_19_add_4_19.INIT0 = "0xc33c";
    defparam counter_19_add_4_19.INIT1 = "0xc33c";
    (* lineinfo="@0(23[28],23[35])" *) FA2 counter_19_add_4_17 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[15]), .D0(n270), .CI0(n270), .A1(GND_net), 
            .B1(GND_net), .C1(counter[16]), .D1(n731), .CI1(n731), .CO0(n731), 
            .CO1(n272), .S0(n150), .S1(n149));
    defparam counter_19_add_4_17.INIT0 = "0xc33c";
    defparam counter_19_add_4_17.INIT1 = "0xc33c";
    (* lineinfo="@0(23[28],23[35])" *) FA2 counter_19_add_4_15 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[13]), .D0(n268), .CI0(n268), .A1(GND_net), 
            .B1(GND_net), .C1(counter[14]), .D1(n728), .CI1(n728), .CO0(n728), 
            .CO1(n270), .S0(n152), .S1(n151));
    defparam counter_19_add_4_15.INIT0 = "0xc33c";
    defparam counter_19_add_4_15.INIT1 = "0xc33c";
    (* lineinfo="@0(23[28],23[35])" *) FA2 counter_19_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[11]), .D0(n266), .CI0(n266), .A1(GND_net), 
            .B1(GND_net), .C1(counter[12]), .D1(n725), .CI1(n725), .CO0(n725), 
            .CO1(n268), .S0(n154), .S1(n153));
    defparam counter_19_add_4_13.INIT0 = "0xc33c";
    defparam counter_19_add_4_13.INIT1 = "0xc33c";
    (* lineinfo="@0(23[28],23[35])" *) FA2 counter_19_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[9]), .D0(n264), .CI0(n264), .A1(GND_net), 
            .B1(GND_net), .C1(counter[10]), .D1(n722), .CI1(n722), .CO0(n722), 
            .CO1(n266), .S0(n156), .S1(n155));
    defparam counter_19_add_4_11.INIT0 = "0xc33c";
    defparam counter_19_add_4_11.INIT1 = "0xc33c";
    (* lineinfo="@0(23[28],23[35])" *) FA2 counter_19_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[7]), .D0(n262), .CI0(n262), .A1(GND_net), 
            .B1(GND_net), .C1(counter[8]), .D1(n719), .CI1(n719), .CO0(n719), 
            .CO1(n264), .S0(n158), .S1(n157));
    defparam counter_19_add_4_9.INIT0 = "0xc33c";
    defparam counter_19_add_4_9.INIT1 = "0xc33c";
    (* lineinfo="@0(23[28],23[35])" *) FA2 counter_19_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[5]), .D0(n260), .CI0(n260), .A1(GND_net), 
            .B1(GND_net), .C1(counter[6]), .D1(n716), .CI1(n716), .CO0(n716), 
            .CO1(n262), .S0(n160), .S1(n159));
    defparam counter_19_add_4_7.INIT0 = "0xc33c";
    defparam counter_19_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@0(23[28],23[35])" *) FA2 counter_19_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[3]), .D0(n258), .CI0(n258), .A1(GND_net), 
            .B1(GND_net), .C1(counter[4]), .D1(n713), .CI1(n713), .CO0(n713), 
            .CO1(n260), .S0(n162), .S1(n161));
    defparam counter_19_add_4_5.INIT0 = "0xc33c";
    defparam counter_19_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@0(23[28],23[35])" *) FA2 counter_19_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(counter[1]), .D0(n256), .CI0(n256), .A1(GND_net), 
            .B1(GND_net), .C1(counter[2]), .D1(n710), .CI1(n710), .CO0(n710), 
            .CO1(n258), .S0(n164_adj_2), .S1(n163));
    defparam counter_19_add_4_3.INIT0 = "0xc33c";
    defparam counter_19_add_4_3.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i29 (.D(n136), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[29]));
    defparam counter_19__i29.REGSET = "RESET";
    defparam counter_19__i29.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i28 (.D(n137), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[28]));
    defparam counter_19__i28.REGSET = "RESET";
    defparam counter_19__i28.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i27 (.D(n138), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[27]));
    defparam counter_19__i27.REGSET = "RESET";
    defparam counter_19__i27.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i26 (.D(n139), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[26]));
    defparam counter_19__i26.REGSET = "RESET";
    defparam counter_19__i26.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i25 (.D(n140), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[25]));
    defparam counter_19__i25.REGSET = "RESET";
    defparam counter_19__i25.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i24 (.D(n141), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[24]));
    defparam counter_19__i24.REGSET = "RESET";
    defparam counter_19__i24.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i23 (.D(n142), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[23]));
    defparam counter_19__i23.REGSET = "RESET";
    defparam counter_19__i23.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i22 (.D(n143), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[22]));
    defparam counter_19__i22.REGSET = "RESET";
    defparam counter_19__i22.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i21 (.D(n144), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[21]));
    defparam counter_19__i21.REGSET = "RESET";
    defparam counter_19__i21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i20 (.D(n145), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[20]));
    defparam counter_19__i20.REGSET = "RESET";
    defparam counter_19__i20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i19 (.D(n146), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[19]));
    defparam counter_19__i19.REGSET = "RESET";
    defparam counter_19__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i18 (.D(n147), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[18]));
    defparam counter_19__i18.REGSET = "RESET";
    defparam counter_19__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i17 (.D(n148), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[17]));
    defparam counter_19__i17.REGSET = "RESET";
    defparam counter_19__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i16 (.D(n149), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[16]));
    defparam counter_19__i16.REGSET = "RESET";
    defparam counter_19__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i15 (.D(n150), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[15]));
    defparam counter_19__i15.REGSET = "RESET";
    defparam counter_19__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i14 (.D(n151), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[14]));
    defparam counter_19__i14.REGSET = "RESET";
    defparam counter_19__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i13 (.D(n152), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[13]));
    defparam counter_19__i13.REGSET = "RESET";
    defparam counter_19__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i12 (.D(n153), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[12]));
    defparam counter_19__i12.REGSET = "RESET";
    defparam counter_19__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i11 (.D(n154), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[11]));
    defparam counter_19__i11.REGSET = "RESET";
    defparam counter_19__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i10 (.D(n155), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[10]));
    defparam counter_19__i10.REGSET = "RESET";
    defparam counter_19__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i9 (.D(n156), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[9]));
    defparam counter_19__i9.REGSET = "RESET";
    defparam counter_19__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i8 (.D(n157), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[8]));
    defparam counter_19__i8.REGSET = "RESET";
    defparam counter_19__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i7 (.D(n158), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[7]));
    defparam counter_19__i7.REGSET = "RESET";
    defparam counter_19__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i6 (.D(n159), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[6]));
    defparam counter_19__i6.REGSET = "RESET";
    defparam counter_19__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i5 (.D(n160), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[5]));
    defparam counter_19__i5.REGSET = "RESET";
    defparam counter_19__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i4 (.D(n161), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[4]));
    defparam counter_19__i4.REGSET = "RESET";
    defparam counter_19__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i3 (.D(n162), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[3]));
    defparam counter_19__i3.REGSET = "RESET";
    defparam counter_19__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(23[28],23[35])" *) FD1P3XZ counter_19__i2 (.D(n163), 
            .SP(VCC_net), .CK(CLK_c), .SR(n206), .Q(counter[2]));
    defparam counter_19__i2.REGSET = "RESET";
    defparam counter_19__i2.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(23[28],23[35])" *) FA2 counter_19_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(counter[0]), .D1(n707), .CI1(n707), .CO0(n707), .CO1(n256), 
            .S1(n165));
    defparam counter_19_add_4_1.INIT0 = "0xc33c";
    defparam counter_19_add_4_1.INIT1 = "0xc33c";
    
endmodule
