// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2023.2.1.288.0
// Netlist written on Fri Nov 14 09:38:53 2025
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/david/desktop/wifi headstage/wifiheadstage v2/fpga/fpga_intan_driver/clk_48mhz/rtl/clk_48mhz.v"
// file 1 "c:/users/david/desktop/wifi headstage/wifiheadstage v2/fpga/fpga_intan_driver/fifo_mem/rtl/fifo_mem.v"
// file 2 "c:/users/david/desktop/wifi headstage/wifiheadstage v2/fpga/fpga_intan_driver/stm32_fifo/rtl/stm32_fifo.v"
// file 3 "c:/users/david/desktop/wifi headstage/wifiheadstage v2/fpga/fpga_intan_driver/source/impl_1/controller_rhd_fifo.vhd"
// file 4 "c:/users/david/desktop/wifi headstage/wifiheadstage v2/fpga/fpga_intan_driver/source/impl_1/controller_rhd_sampling.vhd"
// file 5 "c:/users/david/desktop/wifi headstage/wifiheadstage v2/fpga/fpga_intan_driver/source/impl_1/controller_rhd_sampling_tb.vhd"
// file 6 "c:/users/david/desktop/wifi headstage/wifiheadstage v2/fpga/fpga_intan_driver/source/impl_1/spi_master.vhd"
// file 7 "c:/users/david/desktop/wifi headstage/wifiheadstage v2/fpga/fpga_intan_driver/source/impl_1/spi_master_cs.vhd"
// file 8 "c:/users/david/desktop/wifi headstage/wifiheadstage v2/fpga/fpga_intan_driver/source/impl_1/top_level.vhd"
// file 9 "c:/users/david/desktop/wifi headstage/wifiheadstage v2/fpga/fpga_intan_driver/source/impl_1/top_level_tb.vhd"
// file 10 "c:/lscc/radiant/2023.2/ip/pmi/pmi_ice40up.v"
// file 11 "c:/lscc/radiant/2023.2/ip/pmi/pmi_ice40up.vhd"
// file 12 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 13 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 14 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 15 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 16 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 17 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 18 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 19 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/ib.v"
// file 20 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 21 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 22 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 23 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/ob.v"
// file 24 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 25 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 26 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 27 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/rgb.v"
// file 28 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 29 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 30 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/legacy.v"
// file 31 "c:/lscc/radiant/2023.2/ip/avant/fifo/rtl/lscc_fifo.v"
// file 32 "c:/lscc/radiant/2023.2/ip/avant/fifo_dc/rtl/lscc_fifo_dc.v"
// file 33 "c:/lscc/radiant/2023.2/ip/avant/ram_dp/rtl/lscc_ram_dp.v"
// file 34 "c:/lscc/radiant/2023.2/ip/avant/ram_dq/rtl/lscc_ram_dq.v"
// file 35 "c:/lscc/radiant/2023.2/ip/avant/rom/rtl/lscc_rom.v"
// file 36 "c:/lscc/radiant/2023.2/ip/common/adder/rtl/lscc_adder.v"
// file 37 "c:/lscc/radiant/2023.2/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 38 "c:/lscc/radiant/2023.2/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 39 "c:/lscc/radiant/2023.2/ip/common/counter/rtl/lscc_cntr.v"
// file 40 "c:/lscc/radiant/2023.2/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 41 "c:/lscc/radiant/2023.2/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 42 "c:/lscc/radiant/2023.2/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 43 "c:/lscc/radiant/2023.2/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 44 "c:/lscc/radiant/2023.2/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 45 "c:/lscc/radiant/2023.2/ip/pmi/pmi_add.v"
// file 46 "c:/lscc/radiant/2023.2/ip/pmi/pmi_addsub.v"
// file 47 "c:/lscc/radiant/2023.2/ip/pmi/pmi_complex_mult.v"
// file 48 "c:/lscc/radiant/2023.2/ip/pmi/pmi_counter.v"
// file 49 "c:/lscc/radiant/2023.2/ip/pmi/pmi_dsp.v"
// file 50 "c:/lscc/radiant/2023.2/ip/pmi/pmi_fifo.v"
// file 51 "c:/lscc/radiant/2023.2/ip/pmi/pmi_fifo_dc.v"
// file 52 "c:/lscc/radiant/2023.2/ip/pmi/pmi_mac.v"
// file 53 "c:/lscc/radiant/2023.2/ip/pmi/pmi_mult.v"
// file 54 "c:/lscc/radiant/2023.2/ip/pmi/pmi_multaddsub.v"
// file 55 "c:/lscc/radiant/2023.2/ip/pmi/pmi_multaddsubsum.v"
// file 56 "c:/lscc/radiant/2023.2/ip/pmi/pmi_ram_dp.v"
// file 57 "c:/lscc/radiant/2023.2/ip/pmi/pmi_ram_dp_be.v"
// file 58 "c:/lscc/radiant/2023.2/ip/pmi/pmi_ram_dq.v"
// file 59 "c:/lscc/radiant/2023.2/ip/pmi/pmi_ram_dq_be.v"
// file 60 "c:/lscc/radiant/2023.2/ip/pmi/pmi_rom.v"
// file 61 "c:/lscc/radiant/2023.2/ip/pmi/pmi_sub.v"

//
// Verilog Description of module top_level
//

module top_level (input i_clk, output o_STM32_SPI_MOSI, output i_STM32_SPI_MISO, 
            output o_STM32_SPI_Clk, output o_STM32_SPI_CS_n, output o_RHD_SPI_MOSI, 
            input i_RHD_SPI_MISO, output o_RHD_SPI_Clk, output o_RHD_SPI_CS_n, 
            input CTRL0_IN, output RGB0_OUT, output RGB1_OUT, output RGB2_OUT, 
            output LED1_OUT, output LED2_OUT, output LED3_OUT, output LED4_OUT, 
            output [3:0]o_Controller_Mode, output o_reset, output [7:0]o_reset_Counter);
    
    (* is_clock=1, lineinfo="@8(22[9],22[14])" *) wire i_clk_c;
    
    wire GND_net, VCC_net;
    
    VHI i2 (.Z(VCC_net));
    (* lineinfo="@8(22[9],22[14])" *) IB i_clk_pad (.I(i_clk), .O(i_clk_c));
    (* lineinfo="@8(57[3],57[18])" *) OB \o_reset_Counter_pad[4]  (.I(GND_net), 
            .O(o_reset_Counter[4]));
    (* lineinfo="@8(57[3],57[18])" *) OB \o_reset_Counter_pad[5]  (.I(GND_net), 
            .O(o_reset_Counter[5]));
    (* lineinfo="@8(57[3],57[18])" *) OB \o_reset_Counter_pad[6]  (.I(GND_net), 
            .O(o_reset_Counter[6]));
    (* lineinfo="@8(57[3],57[18])" *) OB \o_reset_Counter_pad[7]  (.I(GND_net), 
            .O(o_reset_Counter[7]));
    (* lineinfo="@8(53[3],53[11])" *) OB LED4_OUT_pad (.I(VCC_net), .O(LED4_OUT));
    (* lineinfo="@8(46[9],46[17])" *) OB RGB0_OUT_pad (.I(VCC_net), .O(RGB0_OUT));
    (* lineinfo="@8(57[3],57[18])" *) OB \o_reset_Counter_pad[0]  (.I(GND_net), 
            .O(o_reset_Counter[0]));
    (* lineinfo="@8(42[9],42[23])" *) OB o_RHD_SPI_CS_n_pad (.I(VCC_net), 
            .O(o_RHD_SPI_CS_n));
    (* lineinfo="@8(57[3],57[18])" *) OB \o_reset_Counter_pad[1]  (.I(GND_net), 
            .O(o_reset_Counter[1]));
    (* lineinfo="@8(172[2],209[14])" *) OBZ_B o_STM32_SPI_Clk_pad (.I(GND_net), 
            .T_N(VCC_net), .O(o_STM32_SPI_Clk));
    (* lineinfo="@8(57[3],57[18])" *) OB \o_reset_Counter_pad[2]  (.I(GND_net), 
            .O(o_reset_Counter[2]));
    (* lineinfo="@8(57[3],57[18])" *) OB \o_reset_Counter_pad[3]  (.I(GND_net), 
            .O(o_reset_Counter[3]));
    (* lineinfo="@8(41[9],41[22])" *) OB o_RHD_SPI_Clk_pad (.I(GND_net), .O(o_RHD_SPI_Clk));
    (* lineinfo="@8(26[9],26[25])" *) OB i_STM32_SPI_MISO_pad (.I(GND_net), 
            .O(i_STM32_SPI_MISO));
    (* lineinfo="@8(52[3],52[11])" *) OB LED3_OUT_pad (.I(VCC_net), .O(LED3_OUT));
    (* lineinfo="@8(55[3],55[20])" *) OB \o_Controller_Mode_pad[2]  (.I(GND_net), 
            .O(o_Controller_Mode[2]));
    (* lineinfo="@8(51[3],51[11])" *) OB LED2_OUT_pad (.I(VCC_net), .O(LED2_OUT));
    (* lineinfo="@8(50[3],50[11])" *) OB LED1_OUT_pad (.I(VCC_net), .O(LED1_OUT));
    (* lineinfo="@8(48[9],48[17])" *) OB RGB2_OUT_pad (.I(VCC_net), .O(RGB2_OUT));
    (* lineinfo="@8(39[9],39[23])" *) OB o_RHD_SPI_MOSI_pad (.I(GND_net), 
            .O(o_RHD_SPI_MOSI));
    (* lineinfo="@8(56[3],56[10])" *) OB o_reset_pad (.I(VCC_net), .O(o_reset));
    (* lineinfo="@8(172[2],209[14])" *) OBZ_B o_STM32_SPI_MOSI_pad (.I(GND_net), 
            .T_N(VCC_net), .O(o_STM32_SPI_MOSI));
    VLO i1 (.Z(GND_net));
    (* lineinfo="@8(55[3],55[20])" *) OB \o_Controller_Mode_pad[0]  (.I(GND_net), 
            .O(o_Controller_Mode[0]));
    (* lineinfo="@8(172[2],209[14])" *) OBZ_B o_STM32_SPI_CS_n_pad (.I(VCC_net), 
            .T_N(VCC_net), .O(o_STM32_SPI_CS_n));
    (* lineinfo="@8(47[9],47[17])" *) OB RGB1_OUT_pad (.I(VCC_net), .O(RGB1_OUT));
    (* lineinfo="@8(55[3],55[20])" *) OB \o_Controller_Mode_pad[3]  (.I(GND_net), 
            .O(o_Controller_Mode[3]));
    (* lineinfo="@8(55[3],55[20])" *) OB \o_Controller_Mode_pad[1]  (.I(GND_net), 
            .O(o_Controller_Mode[1]));
    
endmodule
