// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2023.2.1.288.0
// Netlist written on Tue May  5 10:01:40 2026
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/david/desktop/wifi headstage/wifiheadstage v2/fpga/fpga_rhs_driver/clk_48mhz/rtl/clk_48mhz.v"
// file 1 "c:/users/david/desktop/wifi headstage/wifiheadstage v2/fpga/fpga_rhs_driver/fifo_mem/rtl/fifo_mem.v"
// file 2 "c:/users/david/desktop/wifi headstage/wifiheadstage v2/fpga/fpga_rhs_driver/source/impl_1/controller_rhd_fifo.vhd"
// file 3 "c:/users/david/desktop/wifi headstage/wifiheadstage v2/fpga/fpga_rhs_driver/source/impl_1/controller_rhd_sampling.vhd"
// file 4 "c:/users/david/desktop/wifi headstage/wifiheadstage v2/fpga/fpga_rhs_driver/source/impl_1/controller_rhd_sampling_tb.vhd"
// file 5 "c:/users/david/desktop/wifi headstage/wifiheadstage v2/fpga/fpga_rhs_driver/source/impl_1/spi_master.vhd"
// file 6 "c:/users/david/desktop/wifi headstage/wifiheadstage v2/fpga/fpga_rhs_driver/source/impl_1/spi_master_cs.vhd"
// file 7 "c:/users/david/desktop/wifi headstage/wifiheadstage v2/fpga/fpga_rhs_driver/source/impl_1/top_level.vhd"
// file 8 "c:/lscc/radiant/2023.2/ip/pmi/pmi_ice40up.v"
// file 9 "c:/lscc/radiant/2023.2/ip/pmi/pmi_ice40up.vhd"
// file 10 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 11 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 12 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 13 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 14 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 15 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 16 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 17 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/ib.v"
// file 18 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 19 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 20 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 21 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/ob.v"
// file 22 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 23 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 24 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 25 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/rgb.v"
// file 26 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 27 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 28 "c:/lscc/radiant/2023.2/cae_library/simulation/verilog/ice40up/legacy.v"
// file 29 "c:/lscc/radiant/2023.2/ip/avant/fifo/rtl/lscc_fifo.v"
// file 30 "c:/lscc/radiant/2023.2/ip/avant/fifo_dc/rtl/lscc_fifo_dc.v"
// file 31 "c:/lscc/radiant/2023.2/ip/avant/ram_dp/rtl/lscc_ram_dp.v"
// file 32 "c:/lscc/radiant/2023.2/ip/avant/ram_dq/rtl/lscc_ram_dq.v"
// file 33 "c:/lscc/radiant/2023.2/ip/avant/rom/rtl/lscc_rom.v"
// file 34 "c:/lscc/radiant/2023.2/ip/common/adder/rtl/lscc_adder.v"
// file 35 "c:/lscc/radiant/2023.2/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 36 "c:/lscc/radiant/2023.2/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 37 "c:/lscc/radiant/2023.2/ip/common/counter/rtl/lscc_cntr.v"
// file 38 "c:/lscc/radiant/2023.2/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 39 "c:/lscc/radiant/2023.2/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 40 "c:/lscc/radiant/2023.2/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 41 "c:/lscc/radiant/2023.2/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 42 "c:/lscc/radiant/2023.2/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 43 "c:/lscc/radiant/2023.2/ip/pmi/pmi_add.v"
// file 44 "c:/lscc/radiant/2023.2/ip/pmi/pmi_addsub.v"
// file 45 "c:/lscc/radiant/2023.2/ip/pmi/pmi_complex_mult.v"
// file 46 "c:/lscc/radiant/2023.2/ip/pmi/pmi_counter.v"
// file 47 "c:/lscc/radiant/2023.2/ip/pmi/pmi_dsp.v"
// file 48 "c:/lscc/radiant/2023.2/ip/pmi/pmi_fifo.v"
// file 49 "c:/lscc/radiant/2023.2/ip/pmi/pmi_fifo_dc.v"
// file 50 "c:/lscc/radiant/2023.2/ip/pmi/pmi_mac.v"
// file 51 "c:/lscc/radiant/2023.2/ip/pmi/pmi_mult.v"
// file 52 "c:/lscc/radiant/2023.2/ip/pmi/pmi_multaddsub.v"
// file 53 "c:/lscc/radiant/2023.2/ip/pmi/pmi_multaddsubsum.v"
// file 54 "c:/lscc/radiant/2023.2/ip/pmi/pmi_ram_dp.v"
// file 55 "c:/lscc/radiant/2023.2/ip/pmi/pmi_ram_dp_be.v"
// file 56 "c:/lscc/radiant/2023.2/ip/pmi/pmi_ram_dq.v"
// file 57 "c:/lscc/radiant/2023.2/ip/pmi/pmi_ram_dq_be.v"
// file 58 "c:/lscc/radiant/2023.2/ip/pmi/pmi_rom.v"
// file 59 "c:/lscc/radiant/2023.2/ip/pmi/pmi_sub.v"

//
// Verilog Description of module top_level
//

module top_level (input i_clk, input o_STM32_SPI4_MOSI, output i_STM32_SPI4_MISO, 
            input o_STM32_SPI4_Clk, input o_STM32_SPI4_CS_n, output o_RHS_TOP_SPI_MOSI, 
            output o_RHS_TOP_SPI_Clk, input i_RHS_TOP_SPI_MISO_1, output o_RHS_TOP_SPI_CS_n_1, 
            output o_RHS_TOP_SPI_MOSI_2, input i_RHS_TOP_SPI_MISO_2, input CTRL0_IN, 
            output o_BOOST_ENABLE, output RGB0_OUT, output RGB1_OUT, output RGB2_OUT, 
            output LED1_OUT, output LED2_OUT, output LED3_OUT, output LED4_OUT, 
            output [3:0]o_Controller_Mode, output o_reset);
    
    (* is_clock=1, lineinfo="@7(62[9],62[14])" *) wire i_clk_c;
    (* is_clock=1, lineinfo="@7(149[9],149[20])" *) wire pll_clk_int;
    
    wire GND_net, VCC_net, o_STM32_SPI4_MOSI_c, o_STM32_SPI4_Clk_c, 
        o_STM32_SPI4_CS_n_c, i_RHS_TOP_SPI_MISO_1_c, i_RHS_TOP_SPI_MISO_2_c, 
        o_reset_c, o_Controller_Mode_0_0;
    (* lineinfo="@7(119[9],119[22])" *) wire [27:0]reset_counter;
    
    wire RGB0_OUT_c, stop_counting, o_reset_c_N_269, n25, n14, n3, 
        n7862, n7859;
    wire [27:0]reset_counter_27__N_1;
    
    wire n10, n6, n79, n7856, n7571, n7569, n7567, n7853, n7850, 
        n7832, n6339, n3702, n14_adj_300, n13, n7847, n7820, n7505, 
        n6_adj_301, n7341, n7355, n7353, n7351, n15, n7349, n7835, 
        n7361, n7337, n7345, n7829, n7844, n7359, n12, n7841, 
        n7339, n7347, n6933, n7363, n7826, n7343, n7357, n7838, 
        n7502, n7823, n3753;
    
    VHI i2 (.Z(VCC_net));
    (* lineinfo="@7(176[23],176[58])" *) \Controller_RHD_Sampling(stm32_clks_per_half_bit=32,stm32_spi_num_bits_per_packet=256,stm32_cs_inactive_clks=32,rhd2132_spi_ddr_mode=0,rhd2132_spi_num_bits_per_packet=32,rhd2132_clks_per_half_bit=16,rhd2132_cs_inactive_clks=32,rhd2216_clks_per_half_bit=64,rhd2216_cs_inactive_clks=64) Controller_inst (o_Controller_Mode_0_0, 
            GND_net, RGB0_OUT_c, pll_clk_int, o_reset_c);
    (* lineinfo="@7(74[3],74[23])" *) OB o_RHS_TOP_SPI_CS_n_1_pad (.I(o_STM32_SPI4_CS_n_c), 
            .O(o_RHS_TOP_SPI_CS_n_1));
    (* lineinfo="@7(72[9],72[26])" *) OB o_RHS_TOP_SPI_Clk_pad (.I(o_STM32_SPI4_Clk_c), 
            .O(o_RHS_TOP_SPI_Clk));
    (* lineinfo="@7(71[9],71[27])" *) OB o_RHS_TOP_SPI_MOSI_pad (.I(GND_net), 
            .O(o_RHS_TOP_SPI_MOSI));
    (* lineinfo="@7(169[12],169[28])" *) CLK_48MHz pll_inst (GND_net, i_clk_c, 
            VCC_net, pll_clk_int);
    (* lse_init_val=0, lineinfo="@7(274[9],309[16])" *) FD1P3XZ w_Controller_Mode__i1 (.D(n25), 
            .SP(n3753), .CK(pll_clk_int), .SR(GND_net), .Q(o_Controller_Mode_0_0));
    defparam w_Controller_Mode__i1.REGSET = "RESET";
    defparam w_Controller_Mode__i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@7(66[9],66[26])" *) OB i_STM32_SPI4_MISO_pad (.I(i_RHS_TOP_SPI_MISO_2_c), 
            .O(i_STM32_SPI4_MISO));
    (* syn_use_carry_chain=1, lineinfo="@7(306[22],306[35])" *) FD1P3XZ reset_counter_1074__i27 (.D(reset_counter_27__N_1[27]), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(reset_counter[27]));
    defparam reset_counter_1074__i27.REGSET = "RESET";
    defparam reset_counter_1074__i27.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A))", lineinfo="@7(274[9],309[16])" *) LUT4 i1066_1_lut (.A(stop_counting), 
            .Z(n3702));
    defparam i1066_1_lut.INIT = "0x5555";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i3998_4_lut (.A(reset_counter[2]), 
            .B(n6339), .C(n3), .D(n10), .Z(n7567));
    defparam i3998_4_lut.INIT = "0xfffe";
    (* lut_function="(!((((D)+!C)+!B)+!A))" *) LUT4 i6_4_lut (.A(reset_counter[14]), 
            .B(reset_counter[18]), .C(reset_counter[25]), .D(n7567), .Z(n14_adj_300));
    defparam i6_4_lut.INIT = "0x0080";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut (.A(n7502), .B(n7505), .Z(n25));
    defparam i1_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B (C (D))))" *) LUT4 i5_4_lut (.A(reset_counter[8]), 
            .B(reset_counter[16]), .C(reset_counter[12]), .D(reset_counter[21]), 
            .Z(n13));
    defparam i5_4_lut.INIT = "0x8000";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@7(274[9],309[16])" *) LUT4 i3_4_lut (.A(reset_counter[0]), 
            .B(reset_counter[3]), .C(reset_counter[1]), .D(reset_counter[4]), 
            .Z(n10));
    defparam i3_4_lut.INIT = "0xfffe";
    (* lut_function="(A ((C)+!B)+!A !(B))" *) LUT4 i1_3_lut (.A(n13), .B(n25), 
            .C(n14_adj_300), .Z(n3753));
    defparam i1_3_lut.INIT = "0xb3b3";
    (* lut_function="(A+(B+(C)))", lineinfo="@7(274[9],309[16])" *) LUT4 i5_3_lut (.A(reset_counter[5]), 
            .B(reset_counter[6]), .C(reset_counter[23]), .Z(n14));
    defparam i5_3_lut.INIT = "0xfefe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@7(274[9],309[16])" *) LUT4 i6_4_lut_adj_5 (.A(reset_counter[7]), 
            .B(reset_counter[11]), .C(reset_counter[20]), .D(reset_counter[10]), 
            .Z(n15));
    defparam i6_4_lut_adj_5.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@7(274[9],309[16])" *) LUT4 i8_4_lut (.A(n15), 
            .B(reset_counter[27]), .C(n14), .D(reset_counter[24]), .Z(n6339));
    defparam i8_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut_adj_6 (.A(reset_counter[21]), 
            .B(reset_counter[18]), .Z(n6));
    defparam i1_2_lut_adj_6.INIT = "0xeeee";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i4_4_lut (.A(reset_counter[16]), 
            .B(reset_counter[8]), .C(reset_counter[12]), .D(n6), .Z(n79));
    defparam i4_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i1_4_lut (.A(reset_counter[14]), 
            .B(n79), .C(n6339), .D(reset_counter[25]), .Z(n7502));
    defparam i1_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i5_4_lut_adj_7 (.A(reset_counter[9]), 
            .B(reset_counter[22]), .C(reset_counter[26]), .D(reset_counter[13]), 
            .Z(n12));
    defparam i5_4_lut_adj_7.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i6_4_lut_adj_8 (.A(reset_counter[17]), 
            .B(n12), .C(reset_counter[19]), .D(reset_counter[15]), .Z(n3));
    defparam i6_4_lut_adj_8.INIT = "0xfffe";
    (* lut_function="(A+(B (C)+!B (C (D))))" *) LUT4 i1_4_lut_adj_9 (.A(n3), 
            .B(reset_counter[2]), .C(reset_counter[4]), .D(reset_counter[3]), 
            .Z(n7505));
    defparam i1_4_lut_adj_9.INIT = "0xfaea";
    (* lineinfo="@7(274[9],309[16])" *) FD1P3XZ w_reset (.D(o_reset_c_N_269), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(o_reset_c));
    defparam w_reset.REGSET = "RESET";
    defparam w_reset.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@7(306[22],306[35])" *) FD1P3XZ reset_counter_1074__i26 (.D(reset_counter_27__N_1[26]), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(reset_counter[26]));
    defparam reset_counter_1074__i26.REGSET = "RESET";
    defparam reset_counter_1074__i26.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B (C (D))))" *) LUT4 i4002_4_lut (.A(reset_counter[26]), 
            .B(reset_counter[22]), .C(reset_counter[9]), .D(reset_counter[13]), 
            .Z(n7571));
    defparam i4002_4_lut.INIT = "0x8000";
    (* syn_use_carry_chain=1, lineinfo="@7(306[22],306[35])" *) FD1P3XZ reset_counter_1074__i25 (.D(reset_counter_27__N_1[25]), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(reset_counter[25]));
    defparam reset_counter_1074__i25.REGSET = "RESET";
    defparam reset_counter_1074__i25.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B (C (D))))" *) LUT4 i4000_4_lut (.A(reset_counter[17]), 
            .B(reset_counter[15]), .C(reset_counter[19]), .D(n7505), .Z(n7569));
    defparam i4000_4_lut.INIT = "0x8000";
    (* syn_use_carry_chain=1, lineinfo="@7(306[22],306[35])" *) FD1P3XZ reset_counter_1074__i24 (.D(reset_counter_27__N_1[24]), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(reset_counter[24]));
    defparam reset_counter_1074__i24.REGSET = "RESET";
    defparam reset_counter_1074__i24.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@7(306[22],306[35])" *) FD1P3XZ reset_counter_1074__i23 (.D(reset_counter_27__N_1[23]), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(reset_counter[23]));
    defparam reset_counter_1074__i23.REGSET = "RESET";
    defparam reset_counter_1074__i23.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@7(306[22],306[35])" *) FD1P3XZ reset_counter_1074__i22 (.D(reset_counter_27__N_1[22]), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(reset_counter[22]));
    defparam reset_counter_1074__i22.REGSET = "RESET";
    defparam reset_counter_1074__i22.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@7(306[22],306[35])" *) FD1P3XZ reset_counter_1074__i21 (.D(reset_counter_27__N_1[21]), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(reset_counter[21]));
    defparam reset_counter_1074__i21.REGSET = "RESET";
    defparam reset_counter_1074__i21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@7(306[22],306[35])" *) FD1P3XZ reset_counter_1074__i20 (.D(reset_counter_27__N_1[20]), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(reset_counter[20]));
    defparam reset_counter_1074__i20.REGSET = "RESET";
    defparam reset_counter_1074__i20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@7(306[22],306[35])" *) FD1P3XZ reset_counter_1074__i19 (.D(reset_counter_27__N_1[19]), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(reset_counter[19]));
    defparam reset_counter_1074__i19.REGSET = "RESET";
    defparam reset_counter_1074__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@7(306[22],306[35])" *) FD1P3XZ reset_counter_1074__i18 (.D(reset_counter_27__N_1[18]), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(reset_counter[18]));
    defparam reset_counter_1074__i18.REGSET = "RESET";
    defparam reset_counter_1074__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@7(306[22],306[35])" *) FD1P3XZ reset_counter_1074__i17 (.D(reset_counter_27__N_1[17]), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(reset_counter[17]));
    defparam reset_counter_1074__i17.REGSET = "RESET";
    defparam reset_counter_1074__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@7(306[22],306[35])" *) FD1P3XZ reset_counter_1074__i16 (.D(reset_counter_27__N_1[16]), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(reset_counter[16]));
    defparam reset_counter_1074__i16.REGSET = "RESET";
    defparam reset_counter_1074__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@7(306[22],306[35])" *) FD1P3XZ reset_counter_1074__i15 (.D(reset_counter_27__N_1[15]), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(reset_counter[15]));
    defparam reset_counter_1074__i15.REGSET = "RESET";
    defparam reset_counter_1074__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@7(306[22],306[35])" *) FD1P3XZ reset_counter_1074__i14 (.D(reset_counter_27__N_1[14]), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(reset_counter[14]));
    defparam reset_counter_1074__i14.REGSET = "RESET";
    defparam reset_counter_1074__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@7(306[22],306[35])" *) FD1P3XZ reset_counter_1074__i13 (.D(reset_counter_27__N_1[13]), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(reset_counter[13]));
    defparam reset_counter_1074__i13.REGSET = "RESET";
    defparam reset_counter_1074__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@7(306[22],306[35])" *) FD1P3XZ reset_counter_1074__i12 (.D(reset_counter_27__N_1[12]), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(reset_counter[12]));
    defparam reset_counter_1074__i12.REGSET = "RESET";
    defparam reset_counter_1074__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@7(306[22],306[35])" *) FD1P3XZ reset_counter_1074__i11 (.D(reset_counter_27__N_1[11]), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(reset_counter[11]));
    defparam reset_counter_1074__i11.REGSET = "RESET";
    defparam reset_counter_1074__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@7(306[22],306[35])" *) FD1P3XZ reset_counter_1074__i10 (.D(reset_counter_27__N_1[10]), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(reset_counter[10]));
    defparam reset_counter_1074__i10.REGSET = "RESET";
    defparam reset_counter_1074__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@7(306[22],306[35])" *) FD1P3XZ reset_counter_1074__i9 (.D(reset_counter_27__N_1[9]), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(reset_counter[9]));
    defparam reset_counter_1074__i9.REGSET = "RESET";
    defparam reset_counter_1074__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@7(306[22],306[35])" *) FD1P3XZ reset_counter_1074__i8 (.D(reset_counter_27__N_1[8]), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(reset_counter[8]));
    defparam reset_counter_1074__i8.REGSET = "RESET";
    defparam reset_counter_1074__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@7(306[22],306[35])" *) FD1P3XZ reset_counter_1074__i7 (.D(reset_counter_27__N_1[7]), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(reset_counter[7]));
    defparam reset_counter_1074__i7.REGSET = "RESET";
    defparam reset_counter_1074__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@7(306[22],306[35])" *) FD1P3XZ reset_counter_1074__i6 (.D(reset_counter_27__N_1[6]), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(reset_counter[6]));
    defparam reset_counter_1074__i6.REGSET = "RESET";
    defparam reset_counter_1074__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@7(306[22],306[35])" *) FD1P3XZ reset_counter_1074__i5 (.D(reset_counter_27__N_1[5]), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(reset_counter[5]));
    defparam reset_counter_1074__i5.REGSET = "RESET";
    defparam reset_counter_1074__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@7(306[22],306[35])" *) FD1P3XZ reset_counter_1074__i4 (.D(reset_counter_27__N_1[4]), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(reset_counter[4]));
    defparam reset_counter_1074__i4.REGSET = "RESET";
    defparam reset_counter_1074__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@7(306[22],306[35])" *) FD1P3XZ reset_counter_1074__i3 (.D(reset_counter_27__N_1[3]), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(reset_counter[3]));
    defparam reset_counter_1074__i3.REGSET = "RESET";
    defparam reset_counter_1074__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@7(306[22],306[35])" *) FD1P3XZ reset_counter_1074__i2 (.D(reset_counter_27__N_1[2]), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(reset_counter[2]));
    defparam reset_counter_1074__i2.REGSET = "RESET";
    defparam reset_counter_1074__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@7(306[22],306[35])" *) FD1P3XZ reset_counter_1074__i1 (.D(reset_counter_27__N_1[1]), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(reset_counter[1]));
    defparam reset_counter_1074__i1.REGSET = "RESET";
    defparam reset_counter_1074__i1.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@7(306[22],306[35])" *) FD1P3XZ reset_counter_1074__i0 (.D(reset_counter_27__N_1[0]), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(reset_counter[0]));
    defparam reset_counter_1074__i0.REGSET = "RESET";
    defparam reset_counter_1074__i0.SRMODE = "CE_OVER_LSR";
    (* lut_function="((B+!(C))+!A)" *) LUT4 i2_3_lut (.A(n7569), .B(n7502), 
            .C(n7571), .Z(n6_adj_301));
    defparam i2_3_lut.INIT = "0xdfdf";
    (* lut_function="(A+!(B+(C+(D))))", lineinfo="@7(274[9],309[16])" *) LUT4 i3762_4_lut (.A(stop_counting), 
            .B(n10), .C(n6_adj_301), .D(reset_counter[2]), .Z(n6933));
    defparam i3762_4_lut.INIT = "0xaaab";
    (* lineinfo="@7(306[22],306[35])" *) FA2 reset_counter_1074_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(reset_counter[3]), .D0(n7339), .CI0(n7339), 
            .A1(GND_net), .B1(GND_net), .C1(reset_counter[4]), .D1(n7826), 
            .CI1(n7826), .CO0(n7826), .CO1(n7341), .S0(reset_counter_27__N_1[3]), 
            .S1(reset_counter_27__N_1[4]));
    defparam reset_counter_1074_add_4_5.INIT0 = "0xc33c";
    defparam reset_counter_1074_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@7(306[22],306[35])" *) FA2 reset_counter_1074_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(reset_counter[11]), .D0(n7347), .CI0(n7347), 
            .A1(GND_net), .B1(GND_net), .C1(reset_counter[12]), .D1(n7838), 
            .CI1(n7838), .CO0(n7838), .CO1(n7349), .S0(reset_counter_27__N_1[11]), 
            .S1(reset_counter_27__N_1[12]));
    defparam reset_counter_1074_add_4_13.INIT0 = "0xc33c";
    defparam reset_counter_1074_add_4_13.INIT1 = "0xc33c";
    (* lineinfo="@7(306[22],306[35])" *) FA2 reset_counter_1074_add_4_19 (.A0(GND_net), 
            .B0(GND_net), .C0(reset_counter[17]), .D0(n7353), .CI0(n7353), 
            .A1(GND_net), .B1(GND_net), .C1(reset_counter[18]), .D1(n7847), 
            .CI1(n7847), .CO0(n7847), .CO1(n7355), .S0(reset_counter_27__N_1[17]), 
            .S1(reset_counter_27__N_1[18]));
    defparam reset_counter_1074_add_4_19.INIT0 = "0xc33c";
    defparam reset_counter_1074_add_4_19.INIT1 = "0xc33c";
    (* lineinfo="@7(306[22],306[35])" *) FA2 reset_counter_1074_add_4_29 (.A0(GND_net), 
            .B0(GND_net), .C0(reset_counter[27]), .D0(n7363), .CI0(n7363), 
            .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n7862), .CI1(n7862), 
            .CO0(n7862), .S0(reset_counter_27__N_1[27]));
    defparam reset_counter_1074_add_4_29.INIT0 = "0xc33c";
    defparam reset_counter_1074_add_4_29.INIT1 = "0xc33c";
    (* lineinfo="@7(306[22],306[35])" *) FA2 reset_counter_1074_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(reset_counter[9]), .D0(n7345), .CI0(n7345), 
            .A1(GND_net), .B1(GND_net), .C1(reset_counter[10]), .D1(n7835), 
            .CI1(n7835), .CO0(n7835), .CO1(n7347), .S0(reset_counter_27__N_1[9]), 
            .S1(reset_counter_27__N_1[10]));
    defparam reset_counter_1074_add_4_11.INIT0 = "0xc33c";
    defparam reset_counter_1074_add_4_11.INIT1 = "0xc33c";
    (* lineinfo="@7(306[22],306[35])" *) FA2 reset_counter_1074_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(n3702), .C1(reset_counter[0]), 
            .D1(n7820), .CI1(n7820), .CO0(n7820), .CO1(n7337), .S1(reset_counter_27__N_1[0]));
    defparam reset_counter_1074_add_4_1.INIT0 = "0xc33c";
    defparam reset_counter_1074_add_4_1.INIT1 = "0xc33c";
    (* lineinfo="@7(306[22],306[35])" *) FA2 reset_counter_1074_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(reset_counter[7]), .D0(n7343), .CI0(n7343), 
            .A1(GND_net), .B1(GND_net), .C1(reset_counter[8]), .D1(n7832), 
            .CI1(n7832), .CO0(n7832), .CO1(n7345), .S0(reset_counter_27__N_1[7]), 
            .S1(reset_counter_27__N_1[8]));
    defparam reset_counter_1074_add_4_9.INIT0 = "0xc33c";
    defparam reset_counter_1074_add_4_9.INIT1 = "0xc33c";
    (* lineinfo="@7(306[22],306[35])" *) FA2 reset_counter_1074_add_4_17 (.A0(GND_net), 
            .B0(GND_net), .C0(reset_counter[15]), .D0(n7351), .CI0(n7351), 
            .A1(GND_net), .B1(GND_net), .C1(reset_counter[16]), .D1(n7844), 
            .CI1(n7844), .CO0(n7844), .CO1(n7353), .S0(reset_counter_27__N_1[15]), 
            .S1(reset_counter_27__N_1[16]));
    defparam reset_counter_1074_add_4_17.INIT0 = "0xc33c";
    defparam reset_counter_1074_add_4_17.INIT1 = "0xc33c";
    (* lineinfo="@7(306[22],306[35])" *) FA2 reset_counter_1074_add_4_27 (.A0(GND_net), 
            .B0(GND_net), .C0(reset_counter[25]), .D0(n7361), .CI0(n7361), 
            .A1(GND_net), .B1(GND_net), .C1(reset_counter[26]), .D1(n7859), 
            .CI1(n7859), .CO0(n7859), .CO1(n7363), .S0(reset_counter_27__N_1[25]), 
            .S1(reset_counter_27__N_1[26]));
    defparam reset_counter_1074_add_4_27.INIT0 = "0xc33c";
    defparam reset_counter_1074_add_4_27.INIT1 = "0xc33c";
    (* lineinfo="@7(306[22],306[35])" *) FA2 reset_counter_1074_add_4_15 (.A0(GND_net), 
            .B0(GND_net), .C0(reset_counter[13]), .D0(n7349), .CI0(n7349), 
            .A1(GND_net), .B1(GND_net), .C1(reset_counter[14]), .D1(n7841), 
            .CI1(n7841), .CO0(n7841), .CO1(n7351), .S0(reset_counter_27__N_1[13]), 
            .S1(reset_counter_27__N_1[14]));
    defparam reset_counter_1074_add_4_15.INIT0 = "0xc33c";
    defparam reset_counter_1074_add_4_15.INIT1 = "0xc33c";
    (* lineinfo="@7(306[22],306[35])" *) FA2 reset_counter_1074_add_4_25 (.A0(GND_net), 
            .B0(GND_net), .C0(reset_counter[23]), .D0(n7359), .CI0(n7359), 
            .A1(GND_net), .B1(GND_net), .C1(reset_counter[24]), .D1(n7856), 
            .CI1(n7856), .CO0(n7856), .CO1(n7361), .S0(reset_counter_27__N_1[23]), 
            .S1(reset_counter_27__N_1[24]));
    defparam reset_counter_1074_add_4_25.INIT0 = "0xc33c";
    defparam reset_counter_1074_add_4_25.INIT1 = "0xc33c";
    (* lineinfo="@7(306[22],306[35])" *) FA2 reset_counter_1074_add_4_23 (.A0(GND_net), 
            .B0(GND_net), .C0(reset_counter[21]), .D0(n7357), .CI0(n7357), 
            .A1(GND_net), .B1(GND_net), .C1(reset_counter[22]), .D1(n7853), 
            .CI1(n7853), .CO0(n7853), .CO1(n7359), .S0(reset_counter_27__N_1[21]), 
            .S1(reset_counter_27__N_1[22]));
    defparam reset_counter_1074_add_4_23.INIT0 = "0xc33c";
    defparam reset_counter_1074_add_4_23.INIT1 = "0xc33c";
    (* lineinfo="@7(306[22],306[35])" *) FA2 reset_counter_1074_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(reset_counter[5]), .D0(n7341), .CI0(n7341), 
            .A1(GND_net), .B1(GND_net), .C1(reset_counter[6]), .D1(n7829), 
            .CI1(n7829), .CO0(n7829), .CO1(n7343), .S0(reset_counter_27__N_1[5]), 
            .S1(reset_counter_27__N_1[6]));
    defparam reset_counter_1074_add_4_7.INIT0 = "0xc33c";
    defparam reset_counter_1074_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@7(306[22],306[35])" *) FA2 reset_counter_1074_add_4_21 (.A0(GND_net), 
            .B0(GND_net), .C0(reset_counter[19]), .D0(n7355), .CI0(n7355), 
            .A1(GND_net), .B1(GND_net), .C1(reset_counter[20]), .D1(n7850), 
            .CI1(n7850), .CO0(n7850), .CO1(n7357), .S0(reset_counter_27__N_1[19]), 
            .S1(reset_counter_27__N_1[20]));
    defparam reset_counter_1074_add_4_21.INIT0 = "0xc33c";
    defparam reset_counter_1074_add_4_21.INIT1 = "0xc33c";
    (* lineinfo="@7(306[22],306[35])" *) FA2 reset_counter_1074_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(reset_counter[1]), .D0(n7337), .CI0(n7337), 
            .A1(GND_net), .B1(GND_net), .C1(reset_counter[2]), .D1(n7823), 
            .CI1(n7823), .CO0(n7823), .CO1(n7339), .S0(reset_counter_27__N_1[1]), 
            .S1(reset_counter_27__N_1[2]));
    defparam reset_counter_1074_add_4_3.INIT0 = "0xc33c";
    defparam reset_counter_1074_add_4_3.INIT1 = "0xc33c";
    (* lse_init_val=0, lineinfo="@7(274[9],309[16])" *) FD1P3XZ stop_counting_c (.D(n6933), 
            .SP(VCC_net), .CK(pll_clk_int), .SR(GND_net), .Q(stop_counting));
    defparam stop_counting_c.REGSET = "RESET";
    defparam stop_counting_c.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A+(B)))" *) LUT4 i28_1_lut_2_lut (.A(n7502), .B(n7505), 
            .Z(o_reset_c_N_269));
    defparam i28_1_lut_2_lut.INIT = "0x1111";
    VLO i1 (.Z(GND_net));
    (* lineinfo="@7(77[3],77[23])" *) IB i_RHS_TOP_SPI_MISO_2_pad (.I(i_RHS_TOP_SPI_MISO_2), 
            .O(i_RHS_TOP_SPI_MISO_2_c));
    (* lineinfo="@7(73[9],73[29])" *) IB i_RHS_TOP_SPI_MISO_1_pad (.I(i_RHS_TOP_SPI_MISO_1), 
            .O(i_RHS_TOP_SPI_MISO_1_c));
    (* lineinfo="@7(68[9],68[26])" *) IB o_STM32_SPI4_CS_n_pad (.I(o_STM32_SPI4_CS_n), 
            .O(o_STM32_SPI4_CS_n_c));
    (* lineinfo="@7(67[9],67[25])" *) IB o_STM32_SPI4_Clk_pad (.I(o_STM32_SPI4_Clk), 
            .O(o_STM32_SPI4_Clk_c));
    (* lineinfo="@7(65[9],65[26])" *) IB o_STM32_SPI4_MOSI_pad (.I(o_STM32_SPI4_MOSI), 
            .O(o_STM32_SPI4_MOSI_c));
    (* lineinfo="@7(62[9],62[14])" *) IB i_clk_pad (.I(i_clk), .O(i_clk_c));
    (* lineinfo="@7(106[3],106[10])" *) OB o_reset_pad (.I(o_reset_c), .O(o_reset));
    (* lineinfo="@7(105[3],105[20])" *) OB \o_Controller_Mode_pad[0]  (.I(o_Controller_Mode_0_0), 
            .O(o_Controller_Mode[0]));
    (* lineinfo="@7(105[3],105[20])" *) OB \o_Controller_Mode_pad[1]  (.I(GND_net), 
            .O(o_Controller_Mode[1]));
    (* lineinfo="@7(105[3],105[20])" *) OB \o_Controller_Mode_pad[2]  (.I(GND_net), 
            .O(o_Controller_Mode[2]));
    (* lineinfo="@7(105[3],105[20])" *) OB \o_Controller_Mode_pad[3]  (.I(GND_net), 
            .O(o_Controller_Mode[3]));
    (* lineinfo="@7(103[3],103[11])" *) OB LED4_OUT_pad (.I(VCC_net), .O(LED4_OUT));
    (* lineinfo="@7(102[3],102[11])" *) OB LED3_OUT_pad (.I(VCC_net), .O(LED3_OUT));
    (* lineinfo="@7(101[3],101[11])" *) OB LED2_OUT_pad (.I(VCC_net), .O(LED2_OUT));
    (* lineinfo="@7(100[3],100[11])" *) OB LED1_OUT_pad (.I(VCC_net), .O(LED1_OUT));
    (* lineinfo="@7(98[9],98[17])" *) OB RGB2_OUT_pad (.I(VCC_net), .O(RGB2_OUT));
    (* lineinfo="@7(97[9],97[17])" *) OB RGB1_OUT_pad (.I(VCC_net), .O(RGB1_OUT));
    (* lineinfo="@7(96[9],96[17])" *) OB RGB0_OUT_pad (.I(RGB0_OUT_c), .O(RGB0_OUT));
    (* lineinfo="@7(94[3],94[17])" *) OB o_BOOST_ENABLE_pad (.I(VCC_net), 
            .O(o_BOOST_ENABLE));
    (* lineinfo="@7(76[3],76[23])" *) OB o_RHS_TOP_SPI_MOSI_2_pad (.I(o_STM32_SPI4_MOSI_c), 
            .O(o_RHS_TOP_SPI_MOSI_2));
    
endmodule

//
// Verilog Description of module \Controller_RHD_Sampling(stm32_clks_per_half_bit=32,stm32_spi_num_bits_per_packet=256,stm32_cs_inactive_clks=32,rhd2132_spi_ddr_mode=0,rhd2132_spi_num_bits_per_packet=32,rhd2132_clks_per_half_bit=16,rhd2132_cs_inactive_clks=32,rhd2216_clks_per_half_bit=64,rhd2216_cs_inactive_clks=64) 
//

module \Controller_RHD_Sampling(stm32_clks_per_half_bit=32,stm32_spi_num_bits_per_packet=256,stm32_cs_inactive_clks=32,rhd2132_spi_ddr_mode=0,rhd2132_spi_num_bits_per_packet=32,rhd2132_clks_per_half_bit=16,rhd2132_cs_inactive_clks=32,rhd2216_clks_per_half_bit=64,rhd2216_cs_inactive_clks=64) (input o_Controller_Mode_0_0, 
            input GND_net, output RGB0_OUT_c, input pll_clk_int, input o_reset_c);
    
    (* is_clock=1, lineinfo="@7(149[9],149[20])" *) wire pll_clk_int;
    
    wire o_RHS_TOP_SPI_MOSI_2_c_N_268;
    
    (* lut_function="(!(A))" *) LUT4 i3_1_lut (.A(o_Controller_Mode_0_0), 
            .Z(o_RHS_TOP_SPI_MOSI_2_c_N_268));
    defparam i3_1_lut.INIT = "0x5555";
    (* LSE_LINE_FILE_ID=76, LSE_LCOL=23, LSE_RCOL=58, LSE_LLINE=176, LSE_RLINE=176, lineinfo="@3(712[3],781[10])" *) FD1P3XZ rgd_info_sig_green (.D(GND_net), 
            .SP(o_RHS_TOP_SPI_MOSI_2_c_N_268), .CK(pll_clk_int), .SR(o_reset_c), 
            .Q(RGB0_OUT_c));
    defparam rgd_info_sig_green.REGSET = "SET";
    defparam rgd_info_sig_green.SRMODE = "ASYNC";
    
endmodule

//
// Verilog Description of module CLK_48MHz
//

module CLK_48MHz (input GND_net, input i_clk_c, input VCC_net, output pll_clk_int);
    
    (* is_clock=1, lineinfo="@7(62[9],62[14])" *) wire i_clk_c;
    (* is_clock=1, lineinfo="@7(149[9],149[20])" *) wire pll_clk_int;
    
    (* lineinfo="@0(35[41],48[26])" *) \CLK_48MHz_ipgen_lscc_pll(DIVR="0",DIVF="63",DIVQ="4",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") lscc_pll_inst (GND_net, 
            i_clk_c, VCC_net, pll_clk_int);
    
endmodule

//
// Verilog Description of module \CLK_48MHz_ipgen_lscc_pll(DIVR="0",DIVF="63",DIVQ="4",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") 
//

module \CLK_48MHz_ipgen_lscc_pll(DIVR="0",DIVF="63",DIVQ="4",FILTER_RANGE="1",PLLOUT_SELECT_PORTA="GENCLK",PLLOUT_SELECT_PORTB="GENCLK",FREQUENCY_PIN_REFERENCECLK="12.000000") (input GND_net, 
            input i_clk_c, input VCC_net, output pll_clk_int);
    
    (* is_clock=1, lineinfo="@7(62[9],62[14])" *) wire i_clk_c;
    (* is_clock=1, lineinfo="@7(149[9],149[20])" *) wire pll_clk_int;
    
    wire feedback_w;
    
    (* syn_instantiated=1, LSE_LINE_FILE_ID=72, LSE_LCOL=41, LSE_RCOL=26, LSE_LLINE=35, LSE_RLINE=48, lineinfo="@0(35[41],48[26])" *) PLL_B u_PLL_B (.REFERENCECLK(i_clk_c), 
            .FEEDBACK(feedback_w), .DYNAMICDELAY7(GND_net), .DYNAMICDELAY6(GND_net), 
            .DYNAMICDELAY5(GND_net), .DYNAMICDELAY4(GND_net), .DYNAMICDELAY3(GND_net), 
            .DYNAMICDELAY2(GND_net), .DYNAMICDELAY1(GND_net), .DYNAMICDELAY0(GND_net), 
            .BYPASS(GND_net), .RESET_N(VCC_net), .SCLK(GND_net), .SDI(GND_net), 
            .LATCH(GND_net), .INTFBOUT(feedback_w), .OUTGLOBAL(pll_clk_int));
    defparam u_PLL_B.FEEDBACK_PATH = "SIMPLE";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_FEEDBACK = "FIXED";
    defparam u_PLL_B.FDA_FEEDBACK = "0";
    defparam u_PLL_B.DELAY_ADJUSTMENT_MODE_RELATIVE = "FIXED";
    defparam u_PLL_B.FDA_RELATIVE = "0";
    defparam u_PLL_B.SHIFTREG_DIV_MODE = "0";
    defparam u_PLL_B.PLLOUT_SELECT_PORTA = "GENCLK";
    defparam u_PLL_B.PLLOUT_SELECT_PORTB = "GENCLK";
    defparam u_PLL_B.DIVR = "0";
    defparam u_PLL_B.DIVF = "63";
    defparam u_PLL_B.DIVQ = "4";
    defparam u_PLL_B.FILTER_RANGE = "1";
    defparam u_PLL_B.EXTERNAL_DIVIDE_FACTOR = "NONE";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTA = "0";
    defparam u_PLL_B.ENABLE_ICEGATE_PORTB = "0";
    defparam u_PLL_B.TEST_MODE = "0";
    defparam u_PLL_B.FREQUENCY_PIN_REFERENCECLK = "12.000000";
    
endmodule
